<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SpaceSuttleLocator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>794E162A1D02AC7200F29CDA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>794E16411D02AC7300F29CDA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>794E164C1D02AC7400F29CDA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
